.secrets {
  background-image: url('../images/secrets-bg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 70px;
  .section__title {
    color: #fff;
  }
  &__items {
    display: flex;
    justify-content: space-between;
    width: 945px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
  }
  &__item {
    width: 457px;
    color: #fff;
    p{
      font-size: 28px;
    }
    strong {
      display: block;
      margin-bottom: 10px;
      font-size: 28px;
    }
    &:nth-child(2) {
      width: 360px;
    }
  }
  &__form {
    padding: 45px 29px;
    background-color: #fff;
    border-radius: 15px;
    text-align: center;
    p {
      color: $accent-color;
      font-size: 28px;
    }
  }
  &__field {
    position: relative;
    margin-bottom: 20px;
    border: 1px solid #898989;
    border-radius: 5px;
    overflow: hidden;
    input{
      display: block;
      width: 100%;
      padding: 10px 5px;
      padding-left: 30px;
      border: none;

    }
    &::after {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 5px;
    }
    &--name {
      &::after {
        @include fa($fa-user, #898989, 18px);
      }
    }
    &--phone {
      &::after {
        @include fa($fa-phone, #898989, 18px);
      }
    }
  }
  .btn {
    width: 300px;
    padding: 10px 14px;
    background-color: $accent-color;
    font-size: 24px;
    &:hover {
      color: #fff;
      text-decoration: underline;
    }
  }
}